.about-section {
	padding: 15px 0;
}

.about-section__container {
	display: flex;
	gap: 40px;
	align-items: center;
}

.about-section__image {
	width: 500px;
	height: auto;
}

.about-section__description {
	font-size: 14px;
	line-height: 1.3;
}

.about-section__description h2 {
	margin-top: 0.7em;
	margin-bottom: 0.6em;

	font-weight: 700;
	font-size: 1.4em;
}

.about-section__description h2 span {
	color: var(--color-red-500);
}

.about-section__description a {
	color: var(--color-green-600);
	font-weight: 500;
}

.about-section__description ul {
	padding-left: 19px;

	list-style: none;
}

.about-section__description p {
	margin: 0;
}

.about-section__description p + p {
	margin-top: 1rem;
}

.about-section__description li {
	position: relative;
}

.about-section__description li::before {
	--size: 0.5em;

	position: absolute;
	top: calc(var(--size) / 1.2);
	left: calc(var(--size) * -2);
	content: '';

	display: block;

	width: var(--size);
	height: var(--size);

	border-radius: var(--size);

	background-color: var(--color-gray-400);
}
