.advantages-slider {
	position: relative;

	display: grid;
	grid-template-columns: 1fr;

	margin-right: -10px;
	margin-left: -10px;
	padding: 5px 0;
}

.advantages-slider__inner {
	display: grid;
	grid-template-columns: 1fr;
}
