.banner-discount__inner {
	position: relative;

	display: flex;
	justify-content: center;

	min-height: 105px;
	padding: 0 55px;

	border-radius: 7px;

	background-image: linear-gradient(180deg, var(--color-gray-100) 65%, var(--color-gray-200));

	overflow: hidden;
}

@media (min-width: 400px) {
	.banner-discount__inner::before {
		position: absolute;
		top: 0;
		right: 0;
		content: '';

		display: block;

		width: 200px;
		height: 200px;

		background-color: var(--color-red-500);

		transform: rotate(-28deg) translateY(-18%) translateX(50%);
	}
}

.banner-discount__image {
	position: absolute;
	left: -200px;
	bottom: -10;

	display: block;

	width: auto;
	height: auto;
	max-width: 300px;
}

@media (min-width: 400px) {
	.banner-discount__image {
		left: 55px;
		bottom: 0;
	}
}

.banner-discount__description {
	position: relative;
	right: -50px;
	z-index: 1;

	align-self: center;

	margin: 0;

	font-size: 14px;
	line-height: 1;
}

@media (min-width: 400px) {
	.banner-discount__description {
		margin-right: -40px;

		font-weight: 500;
		font-size: 20px;
	}
}

.banner-discount__description--strong {
	display: block;

	color: var(--color-red-500);
	font-weight: 700;
}

@media (min-width: 400px) {
	.banner-discount__description--strong {
		display: inline;

		font-size: 1.1em;
	}
}

.banner-discount__description--thin {
	font-weight: 300;
}

@media (min-width: 400px) {
	.banner-discount__description--thin {
		font-weight: 300;
		font-size: 1.4em;
	}
}
