.brands-slider {
	position: relative;

	display: grid;
	grid-template-columns: 1fr;

	padding: 40px 0;
}

.brands-slider__inner {
	display: grid;
	grid-template-columns: 1fr;
}

.brands-slider .swiper {
	height: 185px;
}

.brands-slider__brand {
	--height: 80px;

	display: grid;

	height: var(--height);
	padding: 0 17px;

	border: 1px solid var(--color-gray-150);
	border-radius: 10px;

	background-color: var(--color-white);

	overflow: hidden;
}

.brands-slider__brand-image {
	display: block;
	justify-self: center;

	width: auto;
	max-height: var(--height);
}

.brands-slider__navigation {
	position: absolute;
	top: 50%;
	z-index: 10;
}

.brands-slider__navigation--prev {
	left: 0;

	transform: translateY(-50%) translateX(-50%);
}

.brands-slider__navigation--next {
	right: 0;

	transform: translateY(-50%) translateX(50%);
}
