.brands-slider {
	position: relative;

	display: grid;
	grid-template-columns: 1fr;
}

.brands-slider__inner {
	display: grid;
	grid-template-columns: 1fr;
}

.brands-slider .swiper {
	height: 185px;
}
