.catalog-card {
	display: grid;
	gap: 10px;

	width: 182px;
	padding: 17px;

	border: 1px solid var(--color-gray-150);
	border-radius: 10px;

	background-color: var(--color-white);

	overflow: hidden;
}

.catalog-card__image {
	display: block;
	justify-self: center;

	height: auto;
	max-width: 115px;
}

.catalog-card__decription {
	margin: 0;

	font-size: 12px;
	text-align: center;
}
