.catalog-card {
	display: grid;

	width: 155px;
	height: 150px;
	padding: 17px;

	border: 1px solid var(--color-gray-150);
	border-radius: 10px;

	background-color: var(--color-white);

	overflow: hidden;
}

@media (min-width: 400px) {
	.catalog-card {
		gap: 10px;

		width: 182px;
		height: 175px;
	}
}

.catalog-card__image {
	display: block;
	justify-self: center;

	height: auto;
	max-width: 115px;
}

.catalog-card__decription {
	margin: 0;

	font-size: 12px;
	text-align: center;
}
