.footer-secondary-menu {
	color: var(--color-black);
}

.footer-secondary-menu__list {
	display: flex;
	flex-wrap: wrap;
	gap: 13px;

	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-secondary-menu__link {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: max-content;
	gap: 5px;

	padding: 3px 10px;

	font-size: 13px;
	text-decoration: none;

	border-radius: 3px;
}

.footer-secondary-menu__link--border {
	box-shadow: 0 0 0 1px var(--color-red-500);
}
