.header__top {
	background-color: var(--color-gray-100);
}

.header__top-container {
	display: grid;
	grid-template-columns: 160px 1fr 1fr minmax(max-content, 180px);
	align-items: center;

	min-height: 40px;
	padding: 5px var(--container-padding-x);
}

.header__location {
	width: 150px;
}

.header__address {
	justify-self: flex-end;

	padding: 0;

	font-size: 13px;
}

.header__phone {
	justify-self: flex-end;

	font-weight: 700;
	font-size: 14px;
	white-space: nowrap;
	text-decoration: none;
}

/* ============================================ */
.header__middle-container {
	display: flex;
	gap: 30px;
	align-items: center;

	min-height: 85px;
	padding: 10px var(--container-padding-x);
}

.header__search {
	flex-grow: 1;
}

.header__tabs {
	display: grid;
	grid-template-columns: repeat(4, minmax(80px, max-content));
	gap: 30px;
}

.header__bottom {
	background-color: var(--color-gray-100);
}

.header-tab__description {
	font-weight: 600;
	font-size: 13px;
}
