.header-logo {
	text-decoration: none;
}

.header-logo__image {
	display: block;

	height: auto;
	max-width: 198px;
}

.header-logo__description {
	font-weight: 600;
	font-size: 10px;
	white-space: nowrap;
}

.header-logo--hide-description .header-logo__description {
	display: none;
}
