.header-tabs {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

@media (min-width: 1280px) {
	.header-tabs {
		gap: 30px;
	}
}

.header-tabs--mobile-top {
	gap: 0;
}

.header-tabs--mobile-bottom {
	grid-template-columns: repeat(4, 1fr);
	justify-content: space-between;
}

/* 
.header-tabs--compact {
	/* grid-template-columns: repeat(4, max-content); */

/* gap: 30px; */

/* } */
