.header-tab {
	display: grid;
	gap: 2px;
	justify-items: center;

	border: 0;

	background-color: transparent;
}

.header-tab__icon {
	display: block;

	width: 54px;
	height: 30px;
}

.header-tab__description {
	display: none;

	font-size: 13px;
}

@media (min-width: 1280px) {
	.header-tab__description {
		display: block;
	}
}
