.news-slider {
	position: relative;

	display: grid;
	grid-template-columns: 1fr;

	padding: 40px 0;
}

.news-slider__inner {
	display: grid;
	grid-template-columns: 1fr;
}

.news-slider__news {
	position: relative;

	display: grid;
	grid-auto-rows: min-content;

	width: 230px;
	padding-bottom: 10px;

	border: 2px solid transparent;
	border-radius: 11px;

	background-color: var(--color-white);
}

.news-slider__news:hover {
	border-color: var(--color-blue-500);
}

.news-slider__news-image-wrapper {
	position: relative;

	padding-bottom: 100%;

	border-radius: 9px;

	overflow: hidden;
}

.news-slider__news-image {
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	object-fit: cover;
}

.news-slider__news-type {
	margin: 15px 0 0;

	color: var(--color-green-600);
	font-weight: 600;
	font-size: 12px;
}

.news-slider__news-title {
	margin: 10px 0 0;

	font-weight: 700;
	font-size: 14px;
}

.news-slider__news-link {
	color: inherit;
	text-decoration: none;
}

.news-slider__news-link:focus-visible {
	box-shadow: none;
}

.news-slider__news-link::before {
	position: absolute;
	top: -2px;
	left: -2px;
	content: '';

	width: calc(100% + 4px);
	height: calc(100% + 4px);

	border: 2px solid transparent;
	border-radius: 11px;
}

.news-slider__news-link:focus-visible::before {
	border-color: var(--color-blue-500);
}

.news-slider__news-decription {
	margin: 5px 0 0;

	color: var(--color-gray-500);
	font-size: 13px;
}

.news-slider__navigation {
	position: absolute;
	top: 50%;
	z-index: 10;
}

.news-slider__navigation--prev {
	left: 0;

	transform: translateY(-50%) translateX(-50%);
}

.news-slider__navigation--next {
	right: 0;

	transform: translateY(-50%) translateX(50%);
}
