.news-card {
	position: relative;

	display: grid;
	grid-auto-rows: min-content;

	width: 230px;
	padding-bottom: 10px;

	border: 2px solid transparent;
	border-radius: 11px;

	background-color: var(--color-white);
}

.news-card__hover {
	border-color: var(--color-blue-500);
}

.news-card__image-wrapper {
	position: relative;

	padding-bottom: 100%;

	border-radius: 9px;

	overflow: hidden;
}

.news-card__image {
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	object-fit: cover;
}

.news-card__type {
	margin: 15px 0 0;

	color: var(--color-green-600);
	font-weight: 600;
	font-size: 12px;
}

.news-card__title {
	margin: 10px 0 0;

	font-weight: 700;
	font-size: 14px;
}

.news-card__link {
	text-decoration: none;
}

.news-card__link:focus-visible {
	box-shadow: none;
}

.news-card__link::before {
	position: absolute;
	top: -2px;
	left: -2px;
	content: '';

	width: calc(100% + 4px);
	height: calc(100% + 4px);

	border: 2px solid transparent;
	border-radius: 11px;
}

.news-card__link:focus-visible::before {
	border-color: var(--color-blue-500);
}

.news-card__decription {
	margin: 5px 0 0;

	color: var(--color-gray-500);
	font-size: 13px;
}

.news-slider__navigation {
	position: absolute;
	top: 50%;
	z-index: 10;
}
