.popular-products-slider {
	display: none;
}

@media (min-width: 1280px) {
	.popular-products-slider {
		position: relative;

		display: grid;
		grid-template-columns: 1fr;

		padding-bottom: 30px;
	}
}

.popular-products-slider__inner {
	display: grid;
	grid-template-columns: 1fr;

	border-radius: 20px;

	box-shadow: var(--box-shadow);
}

.popular-products-slider .swiper {
	height: 380px;

	border-radius: 20px;
}

.popular-products-slider__navigation {
	position: absolute;
	top: 50%;
	z-index: 10;
}

.popular-products-slider__pagination {
	position: absolute;
	left: 0;
	bottom: 5px;
	z-index: 10;

	transform: translate3d(0, 0, 0);

	transition: 0.3s opacity;
}
