.promotions-section__sliders {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

@media (min-width: 1350px) {
	.promotions-section__sliders {
		display: grid;
		grid-template-columns: 1fr 440px;
		gap: 50px;
	}
}
