.promotion-card {
	position: relative;

	display: block;

	width: 355px;
	padding-left: 20px;
}

.promotion-card__inner {
	position: relative;
}

.promotion-card__image-wrapper {
	position: relative;

	padding-bottom: 61.2%;

	border-radius: 12px;

	overflow: hidden;
}

.promotion-card__image {
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	object-fit: cover;
}

.promotion-card__title {
	margin: 0;
	margin-top: 1em;

	font-weight: 600;
	font-size: 16px;
}

.promotion-card__link {
	display: block;

	max-height: 1em;

	color: inherit;
	white-space: nowrap;
	text-decoration: none;
	text-overflow: ellipsis;

	overflow: hidden;
}

.promotion-card__link::before {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	content: '';
	z-index: 2;
}

.promotion-card__description {
	margin: 0;
	margin-top: 0.5em;

	color: var(--color-gray-500);
	font-size: 13px;
}

.promotion-card__skew {
	position: absolute;
	top: 20px;
	left: -16px;
	z-index: 1;
}
