.secondary-menu__list {
	display: flex;
	gap: 13px;

	margin: 0;
	padding: 0;

	list-style: none;
}

.secondary-menu__link {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: max-content;
	gap: 5px;

	padding: 0.23em 0.77em;

	font-size: 10px;
	text-decoration: none;

	border-radius: 3px;
}

.secondary-menu__link--border {
	box-shadow: 0 0 0 1px var(--color-red-500);
}

@media (min-width: 1150px) {
	.secondary-menu__link {
		font-size: 13px;
	}
}
