.swiper-pagination {
	position: absolute;
	left: 50%;
	bottom: 5px;
	z-index: 10;

	display: flex;

	width: 140px;

	transform: translateX(-50%);

	overflow: hidden;

	transition: 0.3s opacity;
}

.swiper-pagination__bullet {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0 6px;
	padding: 5px 0;

	border: 0;

	background-color: transparent;

	outline: none;

	cursor: pointer;

	opacity: 1;
}

.swiper-pagination__bullet::before {
	content: '';

	display: block;

	width: 32px;
	height: 2px;

	border-radius: 4px;

	background-color: var(--color-gray-300);
}

.swiper-pagination__bullet:focus-visible {
	box-shadow: none;
}

.swiper-pagination__bullet:focus-visible::before {
	box-shadow: 0 0 0 1.5px var(--color-white), 0 0 0 4.5px var(--color-blue-500);
}

.swiper-pagination__bullet--active::before {
	background-color: var(--color-black);
}
