.swiper {
	position: relative;

	width: 100%;
	height: 100%;

	overflow: hidden;

	user-select: none;
}

.swiper-pointer-events {
	touch-action: pan-y;
}

.swiper-wrapper {
	position: relative;
	z-index: 1;

	display: flex;

	width: 100%;
	height: 100%;

	transition-property: transform;
}

.swiper-grid > .swiper-wrapper {
	flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
	flex-direction: column;
	flex-wrap: wrap;
}

.swiper-slide {
	position: relative;

	display: flex;
	flex-shrink: 0;

	width: 100%;
	height: 100%;

	transition-property: transform;
}

.swiper-fade .swiper-slide {
	pointer-events: none;

	transition-property: opacity;
}

.swiper-fade.swiper-free-mode .swiper-slide {
	transition-timing-function: ease-out;
}

.swiper-fade .swiper-slide .swiper-slide {
	pointer-events: none;
}

.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
	pointer-events: auto;
}

.swiper-navigation {
	position: absolute;
	top: 50%;
	z-index: 10;

	transform: translateY(-50%);
}

.swiper-navigation--prev {
	left: 0;

	transform: translateY(-50%) translateX(-50%);
}

.swiper-navigation--next {
	right: 0;

	transform: translateY(-50%) translateX(50%);
}

.swiper-pagination {
	position: absolute;
	left: 0;
	bottom: 5px;
	z-index: 10;

	transform: translate3d(0, 0, 0);

	transition: 0.3s opacity;
}
