.swiper-navigation {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 40px;
	height: 40px;
	padding: 0;

	color: var(--color-red-500);

	border: 0;
	border-radius: 50%;

	background-color: var(--color-white);

	outline: none;

	box-shadow: var(--box-shadow);

	transition: opacity 0.2s;
}

.swiper-navigation:focus-visible {
	box-shadow: 0 0 0 3px var(--color-blue-500), 0 0 0 4.5px var(--color-white);
}

.swiper-navigation:focus-visible,
.swiper-navigation:hover {
	color: var(--color-red-600);
}

.swiper-navigation__icon {
	display: block;

	width: 24px;
	height: 24px;
}

.swiper-navigation--next .swiper-navigation__icon {
	transform: rotate(180deg);
}

.swiper-button-disabled {
	opacity: 0;

	pointer-events: none;
}
