.tabbed__tab-list-wrapper {
	position: relative;
	top: 1px;

	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	align-items: center;

	padding-right: 10px;

	background-color: var(--color-white);
}

.tabbed__tab-list-wrapper-title {
	display: block;

	padding: 0.5rem 0;

	font-weight: 700;
	white-space: nowrap;
	text-transform: uppercase;
}

.tabbed__tab-list-wrapper-title--color {
	color: var(--color-red-500);
}

.tabbed__tab-list {
	display: flex;
	gap: 5px;
	justify-self: flex-start;

	margin: 0;
	padding: 0;

	list-style: none;
}

.tabbed__tab {
	display: block;

	padding: 0.5em 1em;

	font-weight: 700;
	font-size: 14px;
	text-decoration: none;

	border-radius: 3px;

	background-color: var(--color-gray-100);
}

@media (min-width: 660px) {
	.tabbed__tab {
		font-size: 17px;
	}
}

.tabbed__tab[aria-selected] {
	position: relative;
	z-index: 10;

	color: var(--color-white);

	border-bottom: 0;

	background-color: var(--color-green-500);
}

.tabbed__tab:focus-visible {
	box-shadow: 0 0 0 1.5px var(--color-white), 0 0 0 4.5px var(--color-blue-500);
}

.tabbed__tab-panel:focus-visible {
	outline: none;

	box-shadow: 0 0 0 3px var(--color-blue-500);
}

@media (max-width: 550px) {
	/* [role='tab-list'] li,
	[role='tab-list'] a {
		position: static;

		display: block;
	}

	[role='tab-list'] a {
		border: 2px solid hsl(0, 0%, 13%) !important;
	}

	[role='tab-list'] li + li a {
		border-top: 0 !important;
	}

	[role='tab-list'] [aria-selected] {
		position: static;
	}

	[role='tab-list'] [aria-selected]::after {
		content: '\0020⬅';
	}

	[role='tab-panel'] {
		border-top: 0;
	} */
}
