.works-slider {
	position: relative;

	display: grid;
	grid-template-columns: 1fr;

	padding: 40px 0;
}

.works-slider__inner {
	display: grid;
	grid-template-columns: 1fr;
}

.works-slider__work:nth-child(odd) {
	width: 375px;

	background-color: tomato;
}

.works-slider__work:nth-child(even) {
	display: grid;
	gap: 25px;

	width: 180px;
}

.works-slider__work-inner {
	position: relative;

	display: block;

	width: 100%;
	padding-bottom: 100%;
}

.works-slider__work-image {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	object-fit: cover;
}

.works-slider__navigation {
	position: absolute;
	top: 50%;
	z-index: 10;
}

.works-slider__navigation--prev {
	left: 0;

	transform: translateY(-50%) translateX(-50%);
}

.works-slider__navigation--next {
	right: 0;

	transform: translateY(-50%) translateX(50%);
}
