@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/* playfair-display-regular - latin */

/* @font-face {
	font-weight: 400;
	font-family: 'Playfair Display';
	font-style: normal;
	src: local(''), url('../fonts/playfair-display-v22-latin-regular.woff2') format('woff2');
} */

/* playfair-display-500 - latin */

/* @font-face {
	font-weight: 500;
	font-family: 'Playfair Display';
	font-style: normal;
	src: local(''), url('../fonts/playfair-display-v22-latin-500.woff2') format('woff2');
} */

/* playfair-display-600 - latin */

/* @font-face {
	font-weight: 600;
	font-family: 'Playfair Display';
	font-style: normal;
	src: local(''), url('../fonts/playfair-display-v22-latin-600.woff2') format('woff2');
} */

/* playfair-display-800 - latin */

/* @font-face {
	font-weight: 800;
	font-family: 'Playfair Display';
	font-style: normal;
	src: local(''), url('../fonts/playfair-display-v22-latin-800.woff2') format('woff2');
} */

/* playfair-display-700 - latin */

/* @font-face {
	font-weight: 700;
	font-family: 'Playfair Display';
	font-style: normal;
	src: local(''), url('../fonts/playfair-display-v22-latin-700.woff2') format('woff2');
} */

/* playfair-display-900 - latin */

/* @font-face {
  font-weight: 900;
  font-family: "Playfair Display";
  font-style: normal;
  src: local(""),
    url("../fonts/playfair-display-v22-latin-900.woff2") format("woff2");
} */

/* playfair-display-500italic - latin */

/* @font-face {
  font-weight: 500;
  font-family: "Playfair Display";
  font-style: italic;
  src: local(""),
    url("../fonts/playfair-display-v22-latin-500italic.woff2") format("woff2");
} */

/* playfair-display-italic - latin */

/* @font-face {
  font-weight: 400;
  font-family: "Playfair Display";
  font-style: italic;
  src: local(""),
    url("../fonts/playfair-display-v22-latin-italic.woff2") format("woff2");
} */

/* playfair-display-600italic - latin */

/* @font-face {
  font-weight: 600;
  font-family: "Playfair Display";
  font-style: italic;
  src: local(""),
    url("../fonts/playfair-display-v22-latin-600italic.woff2") format("woff2");
} */

/* playfair-display-700italic - latin */

/* @font-face {
	font-weight: 700;
	font-family: 'Playfair Display';
	font-style: italic;
	src: local(''), url('../fonts/playfair-display-v22-latin-700italic.woff2') format('woff2');
} */

/* playfair-display-800italic - latin */

/* @font-face {
  font-weight: 800;
  font-family: "Playfair Display";
  font-style: italic;
  src: local(""),
    url("../fonts/playfair-display-v22-latin-800italic.woff2") format("woff2");
} */

/* playfair-display-900italic - latin */

/* @font-face {
  font-weight: 900;
  font-family: "Playfair Display";
  font-style: italic;
  src: local(""),
    url("../fonts/playfair-display-v22-latin-900italic.woff2") format("woff2");
} */
