.page__body {
	margin: 0;

	color: var(--color-gray-700);
	font-family: 'Montserrat', sans-serif;
	line-height: 1.2;

	background-color: var(--color-white);
}

.page__scroll-up {
	position: fixed;
	bottom: 10vh;
	right: 5vw;
	z-index: 100;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 40px;
	height: 40px;
	padding: 0;

	color: var(--color-red-500);

	border: 0;
	border-radius: 50%;

	background-color: var(--color-white);

	outline: none;

	box-shadow: var(--box-shadow);

	visibility: hidden;

	opacity: 0;
	transform: translateY(-5px);

	transition: opacity 0.1s ease, transform 0.3s ease-in-out;
}

.page__scroll-up--show {
	visibility: visible;

	opacity: 1;
	transform: translateY(0);
}

.page__scroll-up-icon {
	display: block;

	width: 24px;
	height: 24px;

	transform: rotate(90deg);
}
