@import './styles/blocks/banners-section.css';
@import './styles/blocks/banners-slider.css';
@import './styles/blocks/popular-products-slider.css';
@import './styles/blocks/popular-product-card.css';

@import './styles/blocks/advantages-slider.css';
@import './styles/blocks/advantage-card.css';

@import './styles/blocks/catalogs-slider.css';
@import './styles/blocks/catalog-card.css';
@import './styles/blocks/banner-discount.css';
@import './styles/blocks/banner-discount-2.css';

@import './styles/blocks/brands-section.css';
@import './styles/blocks/brands-slider.css';
@import './styles/blocks/brand-card.css';

@import './styles/blocks/products-tabbed.css';

@import './styles/blocks/works-slider.css';
@import './styles/blocks/about-section.css';

@import './styles/blocks/news-slider.css';
@import './styles/blocks/news-card.css';

@import './styles/blocks/promotions-section.css';
@import './styles/blocks/promotions-slider.css';
@import './styles/blocks/promotion-card.css';
@import './styles/blocks/certificates-slider.css';

.page__banners-section {
	margin-bottom: 20px;
}

.page__products-tabbed {
	margin-bottom: 20px;
}

.page__banner-discount-2 {
	margin-bottom: 20px;
}

.page__about-section {
	margin-bottom: 30px;
}
